/* Barre de navigation */
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    min-width: 100vh;
    height: 40px;

    background-color: white;
    
}

/* Differentes partie de la barre */
.nav1{
    padding: 10px 20px 10px 20px;
    justify-content: center;

    border-right: solid 1px rgb(237, 237, 237);
}

.nav2{
    margin: 10px;
    flex: auto;
}

.lienNav{
    padding-right: 10px;
    padding-left: 10px;

    border-right: solid 1px rgb(237, 237, 237);
}

.nav3{
    padding: 10px;
    border-left: solid 1px rgb(237, 237, 237);
}

.nav4{
    padding: 10px;
    border-left: solid 1px rgb(237, 237, 237);
}

