#profil{
    grid-area: profil;
}

#col1{
    grid-area: col1;
}

#col2{
    grid-area: col2;
}



@media only screen and (max-width : 1000px)  {
    main{
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-areas:
            "profil"
            "col2"
            "col1";
    }

    .nav2{
        visibility: hidden;
    }

    #col2{
        width: 100%;
    }

    #col1{
        width: 100%;
    }

    #profil{
        width: 100%;
    }

    main{
        margin-left: 4%;
        margin-right: 4%;
    }

    .itemBigColEntete1{
        padding: 5%
    }

    .itemBigColEntete2{
        padding: 5%
    }

    .itemBigColCorps{
        padding: 5%;
    }

    .itemBigColBas3{
        padding: 0 5px 0 5px;
    }


}
    
