#profil{
    grid-area: profil;
}

#col1{
    grid-area: col1;
}

#col2{
    grid-area: col2;
}



@media only screen and (max-width : 1000px)  {
    main{
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-areas:
            "profil"
            "col2"
            "col1";
    }

    .nav2{
        visibility: hidden;
    }

}
    
